<header>
    <div class="logo">Electronic</div>
    <div class="menu-button" id="menuButton">
        <div class="menu-button-text">Меню</div>
        <div class="menu-button-image"><div class="fa fa-bars"></div></div>
    </div>
</header>
<div class="menu hidden" id="menu">
    <div class="menu-item" id="mainPage"><div class="menu-item-text">Главная</div><div class="menu-item-image"><div class="fa fa-home"></div></div></div>
    <div class="menu-item" id="electrocars"><div class="menu-item-text">Электромобили</div><div class="menu-item-image"><div class="fa fa-shopping-cart"></div></div></div>
    <div class="menu-item" id="contacts"><div class="menu-item-text">Контакты</div><div class="menu-item-image"><div class="fa fa-phone"></div></div></div>
    <div class="menu-item" id="login"><div class="menu-item-text">Вход в систему</div><div class="menu-item-image"><div class="fa fa-sign-in"></div></div></div>
</div>
<script src="~/js/jquery-3.2.1.min.js"></script>
<script>
    $(function () {
        $("#menuButton").click(function (e) {
            e.preventDefault();
            if ($("#menu").hasClass("hidden")) {
                $("#menu").removeClass("hidden");
            } else {
                $("#menu").addClass("hidden");
            }
            return false;
        });

        $("#mainPage").click(function (e) {
            window.location.href = "/";
        });
        $("#electrocars").click(function (e) {
            window.location.href = "/electrocars";
        });
        $("#contacts").click(function (e) {
            window.location.href = "/contacts";
        });
        $("#login").click(function (e) {
            window.location.href = "/login";
        });

        $("body").click(function (e) {
            $("#menu").addClass("hidden");
        });
    });
</script>