<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/orders.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <title>Electronic</title>
</head>
<body>
    @Html.Partial("~/Views/Header/HeaderAdmin.cshtml")
    <div class="main-area">
        <div class="content" id="content">
            <div class="header">Заказы</div>
            <div class="ordersWrap" id="ordersWrap"></div>
        </div>
    </div>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script>

        var editId = 0;

        $(document).ready(function () {
            getOrders();
        });

        function getOrders() {
            $.ajax({
                type: "GET",
                url: "/api/apiorders",
                success: function (response) {
                    var text = "";

                    for (var elem in response) {
                        var input = "";
                        if (!response[elem]["deliveryStatus"] && !response[elem]["paymentState"]) {
                            input = "<input type='button' class='button orders' onclick='removeOrder(" + response[elem]["orderId"] + ")' value='Удалить заказ' />"
                        }
                        text += "<div class='order-wrapper'>" +
                            "<div>Номер заказа: <b>" + response[elem]["orderId"] + "</b></div><br/>" +
                            "<div><b>" + response[elem]["user"]["username"] + " (" + response[elem]["user"]["firstName"] + " " + response[elem]["user"]["lastName"] + " " + response[elem]["user"]["patronymic"] + ")" +"</b></div>" +
                            "<div><b>" + response[elem]["user"]["email"] + "</b></div>" +
                            "<div><b>" + response[elem]["user"]["phone"] + "</b></div><br/>" +
                            "<div><b>" + response[elem]["car"]["markName"] + " " + response[elem]["car"]["model"] + " " + response[elem]["car"]["price"] + "$</b></div>" +
                            "<div>Время заказа: <b>" + response[elem]["date"] + "</b></div><br/>" +
                            "<div>Доставлено: <input type='checkbox' id='delivery-" + response[elem]["orderId"]+"' class='input-checkbox' " + (!response[elem]["deliveryStatus"] ? "" : "checked") + " disabled/></div>" +
                            "<div>Оплачено: <input type='checkbox' id='payment-" + response[elem]["orderId"] +"' class='input-checkbox' " + (!response[elem]["paymentState"] ? "" : "checked") + " disabled/></div>" +
                            "<div class='row'>" +
                                "<input type='button' id='editButton-" + response[elem]["orderId"]+"' class='button orders' onclick='editOrder(" + response[elem]["orderId"] + ")' value='Редактировать заказ' />"+
                                input +
                            "</div>" +
                            "</div>";
                    }

                    if (text != "") {
                        $("#ordersWrap").html(text);
                    } else {
                        $("#ordersWrap").html("<div class='empty-orders'>Заказы отсутствуют</div>");
                    }

                }
            });
        }

        function editOrder(id) { 
            editId = id;
            $("#delivery-" + id).prop("disabled", false);
            $("#payment-" + id).prop("disabled", false);
            $("#editButton-" + id).val("Сохранить");
            $("#editButton-" + id).click(function (e) {
                e.preventDefault();
                var delivery = document.querySelector('#delivery-' + editId).checked;
                var payment = document.querySelector('#payment-' + editId).checked;
                $.ajax({
                    type: "POST",
                    url: "api/apiorders/edit",
                    data: JSON.stringify({ OrderId: editId, DeliveryStatus: delivery, PaymentState: payment }),
                    contentType: 'application/json',
                    success: function (response) {
                        getOrders();
                    }
                });
            });
        }

        function removeOrder(id) {
            $.ajax({
                type: "POST",
                url: "api/apiorders/remove",
                data: JSON.stringify(id),
                contentType: 'application/json',
                success: function (response) {
                    getOrders();
                }
            });
        }
    </script>
</body>
</html>