<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="MyConnectionString"
         connectionString="Data Source = localhost; 
                           Trusted_Connection = yes; 
                           Database = Electronic; 
                           connection timeout = 3;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>