<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <!--<add name="MyConnectionString"
         connectionString="Data Source = localhost; 
                           Trusted_Connection = yes; 
                           Database = Electronic; 
                           connection timeout = 3;"
         providerName="System.Data.SqlClient"/>-->
    <add name="MyConnectionString"
         connectionString="Data Source=SQL6006.site4now.net;Database=DB_A420FD_qposter;User Id=DB_A420FD_qposter_admin;Password=rePdc6XiDjrU7C6;"/>
  </connectionStrings>
</configuration>